.name {
    font-size: 25px;
    font-weight: 700;
    color: #C7C7C7;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navRight a {
    color: #C7C7C7;
    text-decoration: none;
}

/* Mobile */
@media screen and (min-width: 320px) {
    nav {
        display: flex;
        flex-direction: column;
        margin-bottom: -30px;
    }

    .navRight {
        display: none;
    }
}

/* Tablet / Desktop */
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navRight {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}